{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorites</title>
</head>
<body>
    <div class="del">
        <h1 class="name_ci">weather <span id="cityName"></span></h1>
        <div class="container">
            <div class="card">
              <h1 class="name" id="name"></h1>
              <p class="dono">...</p><br><br>
              <p class="temp"></p>
              <p class="temp_c"></p>
              <p class="humidity"></p>
              <p class="speed"></p>
              <p class="clouds"></p>
              <p class="desc"></p>
            </div>
          </div>
    </div>
</body>
</html>